name: Deploy PoshAutomator
on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Publicar Modulo
        shell: pwsh
        env:
          PSG_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        run: |
          # 1. Garantir que o ambiente tem o que precisa para publicar
          Set-PSRepository -Name "PSGallery" -InstallationPolicy Trusted
          
          # 2. Listar arquivos para depuração (aparecerá nos logs se der erro)
          Write-Host "Arquivos encontrados na raiz:"
          Get-ChildItem -Path ./
          
          # 3. Publicar apontando para a raiz (./) onde está o seu .psd1
          # Usamos -Force para evitar avisos de confirmação que travam o robô
          Publish-Module -Path ./ -NuGetApiKey $env:PSG_KEY -Verbose -Force