name: Deploy PoshAutomator
on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Publicar Modulo
        shell: pwsh
        env:
          PSG_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        run: |
          # 1. Instalar/Atualizar provedor NuGet para garantir a conexão
          Set-PSRepository -Name "PSGallery" -InstallationPolicy Trusted
          
          # 2. Listar arquivos na raiz para confirmar que o .psd1 está aqui
          Write-Host "Verificando arquivos no repositório..."
          Get-ChildItem -Path ./
          
          # 3. Publicar o módulo apontando para a raiz (./)
          # Usamos -Force para sobrescrever problemas de histórico local do robô
          Publish-Module -Path ./ -NuGetApiKey $env:PSG_KEY -Verbose -Force