name: Deploy PoshAutomator
on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Publicar Modulo
        shell: pwsh
        env:
          PSG_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        run: |
          # 1. Instala o provedor NuGet silenciosamente para evitar travamentos
          Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
          
          # 2. Configura a galeria como confiável
          Set-PSRepository -Name "PSGallery" -InstallationPolicy Trusted
          
          # 3. Debug: Mostra o que o robô está vendo (ajuda se der erro de novo)
          Write-Host "Verificando arquivos no diretório atual:"
          Get-ChildItem -Path ./
          
          # 4. Publica usando a raiz (./) onde estão seus arquivos .psd1 e .psm1
          # O -Force ignora prompts e o -Verbose mostra o progresso detalhado
          Publish-Module -Path ./ -NuGetApiKey $env:PSG_KEY -Verbose -Force