- name: Publicar Modulo
        shell: pwsh
        env:
          PSG_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        run: |
          # 1. Validação de Segurança
          if (-not $env:PSG_KEY) {
              throw "ERRO: A variável PSG_KEY está vazia. Verifique os Secrets do GitHub!"
          }

          # 2. Debug: Confirmação visual para o log
          Write-Host "Localizando manifesto em ./src/PoshAutomator/..."
          Get-ChildItem -Path ./src/PoshAutomator/*.psd1

          # 3. Publicação Profissional
          # Apontamos exatamente para a subpasta dentro de src
          Publish-Module `
            -Path ./src/PoshAutomator `
            -NuGetApiKey $env:PSG_KEY `
            -Verbose `
            -Force