- name: Publicar Modulo
  shell: pwsh
  env:
    PSG_KEY: ${{ secrets.PSGALLERY_API_KEY }}
  run: |
    Write-Host "Verificando estrutura de arquivos..."
    Get-ChildItem -Path ./src -Recurse

    if (-not $env:PSG_KEY) {
        throw "ERRO: PSGALLERY_API_KEY não encontrada nos Secrets do GitHub!"
    }

    # Publicamos apontando para a pasta interna onde está o .psd1
    Publish-Module `
      -Path ./src/PoshAutomator `
      -NuGetApiKey $env:PSG_KEY `
      -Verbose `
      -Force